.timeline {
  width: 100%;
  margin-bottom: 15px; /*allows the years to be in the container*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.grid-lines {
  border-bottom: solid 1px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.major {
  flex: 1;
  height: 20px;
  border-right: solid 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.major:first-child {
  border-left: solid 1px;
}

.major > .minor {
  flex: 1;
  height: 10px;
}

.major > .minor:first-child {
  border-right: solid 1px;
}

.major > .minor:nth-child(3) {
  border-left: solid 1px;
}

.year {
  position: absolute;
  bottom: -5px;
  transform: translateY(100%);
  font-size: 11px;
}

.speech-bubble {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translateX(-50%) scaleY(0);
  transform-origin: bottom;
}

.arrow {
  border: solid 15px transparent;
  border-top-color: rgba(22, 22, 22, 0.4);
  margin-right: auto;
  width: 0;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
}

.item {
  position: absolute;
  bottom: 0;
  transform-origin: top;
  transition: background-color 500ms ease;
  z-index: 2;
}

.line {
  height: 2px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 2px;
}

.speech-bubble h1 {
  color: white;
  text-align: center;
  font-size: 22px;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 5px;
}

.speech-bubble p {
  color: white;
  margin: 7px;
}